@font-face {
  font-family: "Harry Potter";
  src: url("./HARRP___.TTF") format("truetype"); 
}

.flex {
  display: flex;
}

p {
  font-family: "cursive";
  width: 300px;
}

.inputform {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 10px;
  background-image: url("./img/paper-1074131_640.jpg");
  width: 450px;
}

.container {
  background-image: url("./img/paper-1074131_640.jpg");
  text-align: center;
  width: 500px;
  height: 500px;
  margin: 20px 0 0 100px;
}

.taskaddbtn {
  width: 100px;
  height: 100px;
  transform: rotate( 110deg );
}

.datecontainer {
  width: 350px;
    
}

.author {
  color: #800000;
  padding-top: 30px;
  font-size: 25px;
  animation: fadeout 3s linear 0s 1;
}

.quote {
  color: #800000;
  font-size: 30px;
  padding: 50px 50px 0 50px;
}


.titleimage {
  margin: 10px 0;
  width: 50px;
  height: 50px;
}

.todotitle {
  color: #800000;
}

span {
  padding-left: 150px;
  font-size: 20px;
  color: #800000;
}

.space {
  padding-left: 90px;
  padding-right: 90px;
  margin-top: 20px;
}

body {
  background-image: url("./img/harrypotter.jpg");
  background-color: #cccccc;
  background-size: cover;
  font-family: "Harry Potter";
 }
 
.App {
  text-align: center;
}


.taskList {
  border-bottom: solid 2px #800000;
  padding-left: 15px;
  color: black;
  font-size: 25px;
  margin-left: 15px;
  padding-top: 5px;
  text-align: center;
  list-style: none;
  width: 200px;
  word-break: keep-all;
}

.taskUl {
  margin-left: 80px;
}

.taskinput {
  font-family: "Harry Potter";
  height: 80px;
  font-size: 20px;
  color: #800000;
  text-align: center;
  margin-left: 100px;
  border-bottom: solid 1px gray;
  border-right: none;
  border-left: none;
  border-top: none;
  background: rgba(0,0,0,0.01);
}

.taskitem {
  width: 70%;
  color: #800000;
}

input:checked + label {
  color: gray;
}

